

.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    left: 1.5%;
    position: relative;
    width: 100%;
    /* line-height:30px; */
    justify-content: center;
}
.flex-item {
    /* margin: 5px; */
    /* color: white; */
    /* font-weight: bold;
    font-size: 1.5em;
    text-align: center; */
    /* flex: 1 0 auto; */
    height:250px;
    width:260px
}
.flex-item:before {
    content:'';
    float:center;
    padding-top:100%;
}

.projimg{
    /*height:auto;*/
    height: 60%;
    width:80%;
}

.displayinline{
    display: inline-block;
}

.topdiv{
    width:50%;
    height: 100px;
}
.horizontalline{
    width:60%;
}

.image{
    float: left;
    position: absolute;
    left: 15%;
}

.topheading{
    float: right;
    font-family: "Courier New";
    color: white;
}
.header3{
    font-size: 12px;
    font-family: "Courier New";
    color: white;
}
.header2{
    position: relative;
    left:45%;
    color: white;
}
.mainbody
{
    background: url(../SampleImages/bg.jpg)
}
.square {
    height: 50px;
    width: 50px;
    background-color:#00A86B;
  }

.square1 {
    height: 50px;
    width: 50px;
    background-color: white;
  }

  .gray{
color: gray
  }
  .white{
      color:white
  }
.midimg{
    position: absolute;
    left: 0%;
}
.lbl{
    color: white
}

